@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc
@{
	Layout = null;
	// Bootstrap core CSS
	Html.RequiresCss("~/css/css/bootstrap.css");
	Html.RequiresCss("~/css/css/bootstrap.min.css");
	Html.RequiresCss("~/css/main.css");
    
    // Bootstrap core JavaScript
    Html.RequiresJs("https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js");
    Html.RequiresJs("~/scripts/bootstrap.js");
    
}
<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Eigene Homepage zum hochladen von Streaming- und Podcastcontent">
        <meta name="author" content="Jens Kolz">
    
        <title>Meine Website</title>
    
        @Html.RenderCssHere()
    </head>

    <body>
        @Html.Partial("navigation")
        @RenderBody()
        @Html.Partial("footer")
        @Html.RenderJsHere()
    </body>
</html>